//Layout and sizing 

main {
    margin-top: 100px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    @media screen and (min-width: 500px) {
        width: 400px;
    }
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.calc-display {
    padding: 2vw;
}

#display {
    width: 60vw;
    height: 90px;
    padding: 10px;
    border-radius: 10px;
    text-align: end;
}

button {
    width: 20vw;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
}

#clear {
    width: 50vw;
    margin: 10px;
}

#btn0 {
    width: 50vw;
    margin: 10px;
}