@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins&display=swap");
* {
  font-family: "poppins";
  color: whitesmoke;
  font-weight: bold;
}

.calculator {
  border: solid #4a288f;
  background-color: #100a3a;
}

body {
  background-color: black;
}

.calc-btns__number-btn {
  background-color: #6a40c0;
}
.calc-btns__function-btn {
  background-color: #ed98b7;
}
.calc-btns__equation-btn {
  background-color: #ed98b7;
}

#display {
  background-color: #4a288f;
}

#percent {
  background-color: #ed98b7;
}

#decimal {
  background-color: #ed98b7;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#display {
  text-align: end;
}

main {
  margin-top: 100px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
@media screen and (min-width: 500px) {
  main {
    width: 400px;
  }
}

.calc-display {
  padding: 2vw;
}

#display {
  width: 60vw;
  height: 90px;
  padding: 10px;
  border-radius: 10px;
}

button {
  width: 20vw;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
}

#clear {
  width: 50vw;
  margin: 10px;
}

#btn0 {
  width: 50vw;
  margin: 10px;
}